.uploadBox {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffedcb;
  border: 1px dashed var(--accent);
  padding: 2em;
  transition: all 300ms ease;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1em;
  margin-top: 1em;
}

.image-item {
  /* width: 100px; */
}
